[Unit]
Description=Check GitHub for stable Dispatch releases

[Timer]
OnBootSec=2min
OnUnitInactiveSec=30s
AccuracySec=5s

[Install]
WantedBy=timers.target
